/*
    © 2026 by Nightshade
    Latest update [dd.mm.yyyy]: 20.12.2025
	If you can see this, how? Or rather, why?
*/

* {
	scrollbar-width: auto !important;
	scrollbar-color: #99042fff #ffffff00 !important;
    background-image: url("../imgs/secrets/br.jpg");
	background-size: cover;
    font-size: 0;
}

.brv{
    width: 0px;
    height: 0px;
}