/*
    © 2025 by Nightshade
    Latest update [dd.mm.yyyy]: 18.04.2025
	If you can see this, how? Or rather, why?
*/

* {
	box-sizing: border-box;
	font-family: "Monteserat", Arial, sans-serif;
	scrollbar-width: auto !important;
	scrollbar-color: #99042fff #ffffff00 !important;
	letter-spacing: 1px;
	line-height: 16px;
	background-color: transparent;
}

.secretpage{
    background-image: url("../imgs/secrets/br.jpg");
    font-size: 0;
}